/*
 * Palette colors:
 * B5B1B2
 * ADA9B7
 * A9AFD1
 * A1CDF4
 * 7C809B
 */
body {
	font-family: sans-serif;
}

ul {
	border: 2px solid;
	list-style: none;
	padding: 0;
	height: 500px;
	max-height: 500px;
	overflow: auto;
	background-color: #B5B1B2
}

li {
	border: outset;
	padding: 3px;
	background-color: #A1CDF4
}

.wrapper {
	border: solid;
	display: grid;
	width: 1280px;
	height: 720px;
	row-gap: 2px;
	column-gap: 10px;
	padding: 10px;
	background-color: #A9AFD1
}

.list-div {
	width: 150px;
}

.gotten {
	background-color: #ADA9B7
}

#store-search {
	grid-column: 3;
	grid-row: 1;
	text-align: center;
}

#items {
	grid-column: 1;
	grid-row: 2;
}

#item-list {
}

#coupons {
	grid-column: 2;
	grid-row: 2;
}

#coupon-list {
}

#store-map {
	grid-column: 3;
	grid-row: 2;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

#cart {
	grid-column: 4;
	grid-row: 2;
}

#cart-list {
}

#pay-button {
}
